.menubar .menubutton {
    margin-left: 450px;
}
.information .info-cards .info-card {
    margin-right: 10px;
    width: 220px;
}

.content .hot-deals .cards-container .card {
    margin-right: 20px;
}